body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}

.text {
  flex: 1;
  padding: 20px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.graphic {
  flex: 2;
  position: relative;
}

.graphic svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.step {
  margin: 0 0 100vh 0;
  padding: 50px;
  background: #f9f9f9;
  border-left: 5px solid #ccc;
}

.step.active {
  background: #eef;
  border-left-color: #0074d9;
}

.spuddy-img {
  height: 200px;
  width: auto;
}

.popup rect {
  fill: #f9f9f9;
  stroke: #333;
  stroke-width: 2px;
}

.popup text {
  font-family: Arial, sans-serif;
}

.year-selector {
  margin-bottom: 20px;
}

#year-select {
  padding: 5px;
  font-size: 16px;
}

.bar-container {
  display: flex;
  align-items: center;
}

.vertical-bar {
  width: 3px;
  height: 95vh;
  background-color: rgb(209, 209, 209);
}

.radio-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
}

.radio-button-group {
  display: flex;
  align-items: center;
  gap: 5px;
}

input[type="radio"] {
  width: 16px;
  height: 16px;
  accent-color: #007bff;
  pointer-events: auto;
  z-index: 1;
}

label {
  font-size: 16px;
  cursor: pointer;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= Step 3 =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.dot.hidden {
  opacity: 0.1;
}

.d3-tip {
  line-height: 1;
  padding: 6px;
  background: rgba(240, 240, 240, 0.95);
  color: #333;
  border-radius: 4px;
  font-size: 12px;
}

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(240, 240, 240, 0.95);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

.d3-tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}

.d3-tip h5 {
  font-size: 13px;
  font-weight: 600;
  margin: 2px 10px 4px 2px;
}

.d3-tip thead td {
  border-bottom: 1px solid #ccc;
  font-size: 10px;
  font-weight: 600;
}

.d3-tip td {
  padding: 2px 10px 2px 2px;
}

.d3-tip thead tr {
  padding-top: 10px;
}

.axis-label {
  font-size: 14px;
  fill: #000;
}

.dot.selected {
  opacity: 1;
  stroke: black;
  stroke-width: 2px;
}

.dot.non-selected {
  opacity: 0.1;
}

path.selected {
  stroke: black;
  stroke-width: 2px;
}

path.non-selected {
  opacity: 0.2;
}

#map-container,
#scatterplot-container {
  padding: 10px;
}
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= Step 3 End =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
